.well.well-form
  = simple_form_for [:admin, @news_entry] do |f|
    .form-inputs
      = f.input :title, input_html: { class: 'input-block-level', placeholder: 'Title' }, autofocus: true
      = f.input :content, input_html: { class: 'input-block-level', rows: '12' }, as: :bootsy
    .form-actions
      = cancel_button(url_for(action: :index))
      .pull-right
        = submit_button