%tr[topic.source]
  %td
    .topic-status.pull-left= topic.display_icon_for(current_user)
    .topic-subject
      = link_to topic.display_subject, forums_board_topic_path(topic.board, topic)
      = topic.display_go_to_page_link
  %td.center
    = link_to topic.display_user, topic.user, class: 'ajax-modal'
  %td.center
    = topic.posts_count
  %td.center
    = topic.views_count
  %td.center
    = topic.display_last_post_link