.content-box.forum-box
  = render 'head', board: @board, topic: @topic
  = will_paginate(@posts)
  - tools = capture do
    - if can? :reply, @topic
      .btn-group
        = link_to new_forums_topic_post_path(@topic), class: 'btn btn-inverse' do
          %i.icon-reply
          Reply
    - if can? :delete, @topic
      .btn-group
        = link_to forums_board_topic_path(@board, @topic), method: :delete, data: { confirm: 'Are you sure you want to delete this topic?' }, class: 'btn btn-inverse' do
          %i.icon-trash
          Delete
    - manage_actions = capture do
      - if can? :update, @topic
        = link_to edit_forums_board_topic_path(@board, @topic), class: 'btn btn-link btn-link-white ajax-modal' do
          %i.icon-pencil
          Edit
      - if can? :toggle_lock, @topic
        = link_to @topic.display_lock_action, [:toggle_lock, @topic], method: :put, class: 'btn btn-link btn-link-white'
      - if can? :toggle_hide, @topic
        = link_to @topic.display_hide_action, [:toggle_hide, @topic], method: :put, class: 'btn btn-link btn-link-white'
      - if can? :toggle_pin, @topic
        = link_to @topic.display_pin_action, [:toggle_pin, @topic], method: :put, class: 'btn btn-link btn-link-white'
    - unless manage_actions.blank?
      .btn-group= manage_actions
  
  .btn-toolbar= tools
  .well.well-black{ data: { highlight: params[:highlight] } }
    .page-header
      %h3
        = @topic.display_icon_for
        = @topic.display_subject
    = render @posts
  = will_paginate(@posts)
  .btn-toolbar= tools