.modal-header
  = link_to '#', class: 'close', data: { dismiss: 'modal' } do
    &times;
  %h3
    = @user.display_name
.modal-body
  .profile-box
    .row-fluid
      .span2
        .gravatar= image_tag @user.display_gravatar(s: 80)
        = link_to new_message_path(recipient: @user.display_name), class: 'btn btn-mini btn-block' do
          %i.icon-envelope 
          Message
      .span10
        %dl.dl-horizontal
          %dt Posts:
          %dd
            = @user.posts_count
            &nbsp;          
            = link_to searches_path(q: { user_name: @user.display_name }) do
              %i.icon-search          
          %dt User group:
          %dd= @user.display_user_group
          
          %dt Joined:
          %dd= @user.display_joined_at
          
          %dt Last login:
          %dd= @user.display_last_signed_in_time
          
          %dt Status:
          %dd
            - if current_online_user_ids.member? @user.id
              %span.text-success Online
            - else
              %span.muted Offline
    
.modal-footer
  = dismiss_modal_button