.row
  .span4.offset4
    .content-box.no-whitespace
      .page-header
        %h3 Sign in
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: { class: 'no-whitespace', autocomplete: 'off' }) do |f|
        .inputs
          = f.input :email, wrapper: :prepend, label: false do
            %span.add-on
              %i.icon-envelope 
            = f.input_field :email, :autofocus => true, class: 'span3', placeholder: 'Email address'
          
          = f.input :password, wrapper: :prepend, label: false  do
            %span.add-on
              %i.icon-key 
            = f.input_field :password, :required => false, class: 'span3', placeholder: 'Password'
          
          = f.input :remember_me, :as => :boolean, label: false, inline_label: 'Remember me' if devise_mapping.rememberable?
        .actions
          .pull-right= render "devise/shared/links"
          = f.button :submit, "Sign in", class: 'btn btn-primary'
