= simple_form_for [:admin, @user], remote: true, html: { class: 'no-whitespace' } do |f|
  .modal-header
    = link_to '#', class: 'close', data: { dismiss: 'modal' } do
      &times;
    %h3 Edit User
  .modal-body
    = f.association :permissions, as: :check_boxes
  .modal-footer
    = dismiss_modal_button
    = submit_button