.sidebar-widget#shoutbox
  %h3 Shoutbox
  - if user_signed_in?
    = simple_form_for ShoutboxMessage.new, remote: true, html: { class: 'no-whitespace' } do |f|
      = f.input :message, label: false, input_html: { class: 'input-block-level', placeholder: 'Your message...' }, as: :string, required: true
  %ul.unstyled#existing-messages= render latest_shoutbox_messages
    
.sidebar-widget
  %h3 Recent posts
  %ul.unstyled.well.well-black.well-small
    - latest_forum_topics.each do |topic|
      %li
        %h5= link_to topic.display_subject, forums_board_topic_path(topic.board, topic)
        %small.muted= topic.display_last_post_at_in_word