.sidebar-widget#shoutbox  
  %h3 Shoutbox
  - if user_signed_in?
    = simple_form_for ShoutboxMessage.new, remote: true, html: { class: 'no-whitespace', autocomplete: 'off' } do |f|
      = f.input :message, label: false, input_html: { class: 'input-block-level', placeholder: 'Your message...' }, as: :string, required: true
      = f.button :submit, 'Send', style: 'position: absolute; top: -9999px; left: -9999px', tabindex: '-1'
  %p.faye-warning-box.text-error
  %ul.unstyled#existing-messages{ data: {content_url: ajax_get_messages_shoutbox_messages_path(format: :js)} }
    %li
      %i.icon-spinner.icon-spin
      Reading Shoutbox messages...

.sidebar-widget
  %h3 Recent posts
  %ul.unstyled.well.well-black.well-small
    - latest_forum_topics.each do |topic|
      %li
        %h5= link_to topic.display_subject, topic.display_recent_post_link
        %small.muted= topic.display_last_post_at_in_word
        
.sidebar-widget#whoson
  %h3 Who&rsquo;s online
  .well.well-black.well-small
    - current_online_users.each do |user|
      #{link_to user.display_name, user, class: 'ajax-modal online-user'} 
    %p.muted.no-whitespace
      %small (Users active over the past 5mins)
