!!!
%html
  %head
    %title Ascendance - EU Alonsus
    = stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Lato:300,400"
    = stylesheet_link_tag    "admin", :media => "all", data: { turbolinks_track: true }
    = javascript_include_tag "application", data: { turbolinks_track: true }
    = favicon_link_tag '/favicon.png'
    = csrf_meta_tags
  %body
    .flash-messages
      - unless flash.blank?
        - flash.each do |name, msg|
          .alert.fade{ class: "alert-#{ name == :notice ? 'success' : 'error' }" }
            %a.close{ data: { dismiss: :alert } } &times;
            = msg
    .navbar.navbar-inverse.navbar-fixed-top
      .navbar-inner
        .container-fluid
          %a.btn.btn-navbar{ data: { toggle: 'collapse', target: '.nav-collapse' } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar           
          = link_to :root, class: :brand, data: { no_turbolink: true } do
            Ascendance
          .nav-collapse
            %ul.nav
            %ul.nav.pull-right
              %li.dropdown
                = link_to '#', class: 'dropdown-toggle', data: {toggle: :dropdown} do
                  = current_user.name
                  %span.caret
                %ul.dropdown-menu.pull-right
                  %li
                    = link_to edit_user_registration_path, data: { no_turbolink: true } do
                      %i.icon-user
                      Edit profile
                  %li
                    = link_to destroy_user_session_path, method: :delete do
                      %i.icon-signout
                      Logout
    #wrapper
      %ul.nav.nav-pills.nav-stacked#sidebar
        - if can? :manage, NewsEntry
          %li{ class: ('active' if @current_nav_identifier == :news_entries )}
            = link_to [:admin, :news_entries] do
              %i.icon-star
              News entries
        - if can? :manage, Page
          %li{ class: ('active' if @current_nav_identifier == :pages )}
            = link_to [:admin, :pages] do
              %i.icon-copy
              Pages
        - if can? :manage, :forums
          %li.with-submenu{ class: ('active' if @current_nav_identifier == :forums )}
            = link_to '#forums-options', data: { toggle: :collapse } do
              %i.icon-comments
              Forums
            %ul.no-whitespace.nav.nav-pills.nav-stacked.collapse#forums-options
              %li
                = link_to [:admin, :forums, :categories] do
                  %i.icon-list
                  Categories
              %li
                = link_to [:admin, :forums, :boards] do
                  %i.icon-th
                  Boards
        - if can? :manage, ShoutboxMessage
          %li{ class: ('active' if @current_nav_identifier == :shoutbox_messages )}
            = link_to [:admin, :shoutbox_messages] do
              %i.icon-bullhorn
              Shoutbox
        - if can? :manage, User
          %li{ class: ('active' if @current_nav_identifier == :users )}
            = link_to [:admin, :users] do
              %i.icon-group
              Users
        - if can? :manage, :settings
          %li{ class: ('active' if @current_nav_identifier == :settings )}
            = link_to [:admin, :settings] do
              %i.icon-cogs
              Settings
        - if can? :manage, Recruitment
          %li{ class: ('active' if @current_nav_identifier == :recruitment )}
            = link_to [:admin, :recruitments] do
              %i.icon-bell
              Recruitment
      #main-content
        = yield