!!!
%html
  %head
    %title Ascendance - EU Alonsus
    = stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Lato:300,400|Titillium+Web:400,600,700,400italic"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper.container
      .row
        #banner.span12= image_tag current_banner_image
      .row
        #menu.span12
          %ul.nav.nav-pills.pull-right
            - if user_signed_in?
              %li.dropdown
                = link_to '#', class: 'dropdown-toggle', data: {toggle: :dropdown} do
                  = current_user.name
                  %span.caret
                %ul.dropdown-menu.pull-right
                  %li
                    = link_to edit_user_registration_path do
                      %i.icon-user
                      Edit profile
                  %li
                    = link_to destroy_user_session_path, method: :delete do
                      %i.icon-signout
                      Logout
                  - if current_user.permission_identifiers.any?
                    %li.divider
                    %li
                      = link_to [:admin, :root] do
                        %i.icon-cogs
                        Admin
            - else
              %li= link_to 'Login', new_user_session_path
          %ul.nav.nav-pills
            %li.active= link_to 'Home', :root
            %li= link_to 'Forums', '#'
            %li= link_to 'Apply', '#'
            - all_pages.each do |page|
              %li= link_to page.display_title, page
      .row
        #content.span12
          .row
            - if content_for?(:left_sidebar)
              .span3
                #left-sidebar.sidebar= yield :left_sidebar
            #main-content{ class: main_content_class }
              = yield
            - if content_for?(:right_sidebar)
              .span3
                #right-sidebar.sidebar= yield :right_sidebar
      .row
        .span12
          #footer
            .pull-left
              Powered by 
              = link_to 'Ruby on Rails', 'http://rubyonrails.org/', target: '_blank'
              (Ruby #{RUBY_VERSION}).
            .pull-right
              &copy; #{Date.today.year}
:coffee
  $ -> 
    $('#main-content').css('min-height', $('#content').height())