!!!
%html
  %head
    %title Ascendance - EU Alonsus
    = stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Lato:300,400|Titillium+Web:400,700,400italic|Hammersmith+One"
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper.container
      .row
        #banner.span12
          = image_tag 'banner.jpg'
      .row
        #menu.span12
          %ul.nav.nav-pills
            %li.active= link_to 'Home', '#'
            %li= link_to 'Forums', '#'
            %li= link_to 'Apply', '#'
      .row
        #content.span12
          .row-fluid
            .span3
              #left-sidebar.sidebar
                %h3 Shoutbox
                = simple_form_for ShoutboxMessage.new, html: { id: 'shoutbox' }, remote: true do |f|
                  = f.input :message, label: false, input_html: { class: 'input-block-level', placeholder: 'Your message...' }, as: :string, required: true
                  %ul.unstyled#existing-messages{ data: { load_content_url: url_for([:shoutbox_messages]) } }
            .span6#main-content
              = yield
            .span3
              #right-sidebar.sidebar
                %h3 Recruitment
      .row
        .span12
          #footer
            .pull-left
              Powered by 
              = link_to 'Ruby on Rails', 'http://rubyonrails.org/', target: '_blank'
              (Ruby #{RUBY_VERSION}).
            .pull-right
              &copy; #{Date.today.year}