!!!
%html
  %head
    %title Ascendance - EU Alonsus
    = stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700,400italic"
    = stylesheet_link_tag    "application", :media => "all", data: { turbolinks_track: true }
    = javascript_include_tag "#{faye_url}/faye.js"
    = javascript_include_tag "https://static.wowhead.com/widgets/power.js"
    = javascript_include_tag "application", data: { turbolinks_track: true }
    = analytics_init if Rails.env.production?
    = favicon_link_tag '/favicon.png'
    = csrf_meta_tags
  %body{ data: { stream_url: "#{faye_url}/faye"} }
    .flash-messages
      - unless flash.blank?
        - flash.each do |name, msg|
          .alert.fade{ class: "alert-#{ name == :notice ? 'success' : 'error' }" }
            %a.close{ data: { dismiss: :alert } } &times;
            = msg
    #wrapper.container
      .row
        #banner.span12= image_tag current_banner_image
      .row#menu-row{ style: 'height: 42px' }
        #menu.span12
          %ul.nav.nav-pills.pull-right
            - if user_signed_in?
              %li.dropdown
                = link_to '#', class: 'dropdown-toggle', data: {toggle: :dropdown} do
                  %span.user-badge{data: { count: 'unread_messages' }}= unread_message_badge
                  = current_user.name
                  %span.caret
                %ul.dropdown-menu.pull-right
                  %li
                    = link_to :messages do
                      .pull-right{data: { count: 'unread_messages' }}= unread_message_badge
                      %i.icon-comments
                      Messages
                  %li.divider
                  %li
                    = link_to edit_user_registration_path do
                      %i.icon-user
                      Edit profile
                  %li
                    = link_to destroy_user_session_path, method: :delete do
                      %i.icon-signout
                      Logout
                  - if current_user.permission_identifiers.any?
                    %li.divider
                    %li
                      = link_to [:admin, :root], data: { no_turbolink: true } do
                        %i.icon-cogs
                        Admin
                = render 'spotlight_box'
                    
            - else
              %li= link_to 'Login', new_user_session_path
          %ul.nav.nav-pills
            %li{ class: ('active' if @current_nav_identifier == :home) }= link_to 'Home', :root
            %li{ class: ('active' if @current_nav_identifier == :forums) }= link_to 'Forums', [:forums, :root]
            %li{ class: ('active' if @current_nav_identifier == :roster) }= link_to 'Roster', :roster
            - if can? :create, :application_form
              %li{ class: ('active' if @current_nav_identifier == :apply) }= link_to 'Apply', [:new, :application_form]
            - all_pages.each do |page|
              %li{ class: ('active' if @current_nav_identifier == page.slug) }= link_to page.display_title, page
      .row
        #content.span12
          .row
            - if content_for?(:left_sidebar)
              .span3
                #left-sidebar.sidebar= yield :left_sidebar
            #main-content{ class: main_content_class }
              = yield
            - if content_for?(:right_sidebar)
              .span3
                #right-sidebar.sidebar= yield :right_sidebar
      .row
        .span12
          #footer
            .pull-left
              Powered by 
              = link_to "Ruby on Rails #{Rails.version}", 'http://rubyonrails.org/', target: '_blank'
              (Ruby #{RUBY_VERSION}).
              %i.icon-html5{ title: 'HTML5' }
              %i.icon-css3{ title: 'CSS3' }
            .pull-right
              &copy; #{Date.today.year}
              = link_to 'Azuresong', 'http://www.azuresong.co.uk', target: '_blank'