= display_sidebars
- unless @news_entries.empty?
  - news_entry = @news_entries.shift
  .news-entry.latest
    %h1= news_entry.display_title
    %p.datetime-stamp= news_entry.display_created_at
    = news_entry.display_cover_image(:large)
    .content= news_entry.display_truncated_content
  - @news_entries.to_a.in_groups_of(2, false) do |entries|
    .row-fluid
      - entries.each do |news_entry|
        .news-entry.span6.older-news
          = news_entry.display_cover_image
          %p.datetime-stamp= news_entry.display_created_at
          %h1= link_to news_entry.display_title, news_entry