= display_sidebars
.news-entry
  %h1= @news_entry.display_title
  %p.datetime-stamp= @news_entry.display_created_at
  = @news_entry.display_cover_image(:large, width: 498, height: 250)
  .content= @news_entry.display_content